/**
 * LFE theme for reveal.js.
 * Author: Duncan McGreggor
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@font-face {
	font-family: 'League Gothic';
	src: url('../../lib/font/league_gothic-webfont.eot');
	src: url('../../lib/font/league_gothic-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../../lib/font/league_gothic-webfont.woff') format('woff'),
		 url('../../lib/font/league_gothic-webfont.ttf') format('truetype'),
		 url('../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular') format('svg');

	font-weight: normal;
	font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400italic,400,600italic,600,700italic,700,800italic,800);
@import url(https://fonts.googleapis.com/css?family=Bree+Serif:400);

/**
 * LFE colors by Duncan McGreggor
 */
html * {
	color-profile: sRGB;
	rendering-intent: auto;
}

// Solarized colors
//$base03:    #002b36;
$base03:    rgb(78,10,0);
$base02:    #073642;
$base01:    #586e75;
$base00:    #657b83;
$base0:     #839496;
//$base1:     #93a1a1;
$base1:     #520a00;
//$base2:     #b55c35;
$base2:     #6d1a08;
$base3:     #fdf6e3;
$yellow:    #b58900;
$orange:    #cb4b16;
$red:       #dc322f;
$magenta:   #d33682;
$violet:    #6c71c4;
$blue:      #268bd2;
$cyan:      #2aa198;
$green:     #859900;

// Override theme settings (see ../template/settings.scss)
$mainFont: 'Open Sans', sans-serif;
$mainColor: $base1;
$headingFont: 'Bree Serif', serif;
$headingColor: $base2;
$headingMargin: 0 0 5px 0;
$headingTextShadow: 5px 5px 5px rgba(0,0,0,0.6);
$heading1TextShadow: $headingTextShadow;
$backgroundColor: $base03;
$linkColor: $blue;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: $magenta;

.slide-background {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

section[data-state=chapter] div,
section[data-state=intro] div {
  color: #ffc453;
}

section[data-state=chapter] h1,
section[data-state=chapter] h2,
section[data-state=intro] h1,
section[data-state=intro] h2 {
  color: #eee8d5;
}

section[data-state=content-slide] div {
  color: $mainColor;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
